html, body{
	margin: 0em;
    overflow: hidden;
    height: 100%;
}

.drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,0.6) 100%);
    width:1px;
    height: 100px;
	position: absolute;
	bottom:200px;
    -webkit-animation: fall 0.8s linear infinite;
    -moz-animation: fall 0.5s lineair infinite;
  
}

/* animate the drops*/
    @-webkit-keyframes fall {
        to {margin-top: 1080px;}
    }
    @-moz-keyframes fall {
        to {margin-top: 1080px;}
    }

header{
	width: 70%;
	min-width: 50%;
	max-width: 70%;
	height: 20em;
	margin-left: auto;
	margin-right: auto;

	background-image: url("img/header-wallpaper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	transition: 1s;
}

header:hover{
	background-image: url("img/header-wallpaper.jpg");
	opacity: 0.9;
	transition: 1s;
}

#headerGip-Text{
	padding: 0.15em;
	text-align: center;
	font-family: Bangers;
	letter-spacing: 2px;
	color: rgba(144, 204, 144, 1);
	text-shadow: 2px 2px #000; 
	font-size: 50px;
}

#footerGip{
	display: inline-block;
	background-color: ;
	width: 100%;
	height: 62px;
	text-align: center;
	margin: 1em auto 0em auto;
	background-color: grey;
	background-image: linear-gradient(to top,
		rgba(150, 200, 0, 0.1),
		white);
	width: 100%;
}

#footerGip-Text{
	font-family: Bangers;
	color: #222;
	text-shadow: 2px 2px #90CC90;
	font-size: 20px;
}

#profielFoto{
	width: 200px;
	height: 200px;
	opacity: 10;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(img/optimized-foto-js.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
	background-size: 122%;
	margin-left: auto;
	margin-right: auto;
}

#middenGip{
	margin: 1em auto;
}

#middenGip-1-3{
	margin: 1em 0em;
	font-size: 17px;
	font-family: Oswald;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

#middenGip-1-3 > img{
	background-image: url(img/grid.jpg);
	zoom: 2;
    display: block;
    border-radius: 90px;
    opacity: 0.8;

    margin: auto;
    max-width: 40%;
    max-height: 40%;
    height: auto;
    max-height: 40%;
    max-width: 40%;
    width: auto;

    border: 2px solid transparent;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#middenGip-1-2{
	margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

#middenGip-1-2 > p > a{
	font-size: 30px;
	font-family: Bangers;
    color: #222;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid #333;
}