html, body{
	margin: 0em;
    height: 100%;
}
.snow{
	background-image: url('img/drop.png'), url('img/drop.png'), url('img/drop.png');
	-webkit-animation: snow 15s linear infinite;
	-moz-animation: snow 15s linear infinite;
	-ms-animation: snow 15s linear infinite;
	animation: snow 15s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
header{
	width: 70%;
	min-width: 50%;
	max-width: 70%;
	height: 20em;
	margin-left: auto;
	margin-right: auto;

	background-image: url("img/header-wallpaper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	transition: 1s;
}
header:hover{
	opacity: 0.9;
	transition: 1s;
}
@media screen and (max-width: 720px){
    header{
        background-image: url();
        background-color: rgb(255, 255, 255);
        margin-bottom: 2em;
    }
    header:hover{
        transition: 0s;
        opacity: 1;
    }
    #profielFoto::after, ::before{
        visibility: hidden;
    }
    .pure-u-1-3{
        display: block;
        margin: 1em auto !important;
        width: 95%;
    }

    .pure-u-1-3 > p{
        margin: 1em 0;
    }

    i{
        visibility: :hidden;
        position: relative;
        left: 9999px;
    }
}

@media screen and (max-width: 366px){
    header{
        margin-bottom: 5.5em;
    }
}

#headerGip-Text{
	padding: 0.15em;
	text-align: center;
	font-family: Bangers;
	letter-spacing: 2px;
	color: rgba(144, 204, 144, 1);
	text-shadow: 2px 2px #000;
	font-size: 50px;
}
#footerGip{
	display: inline-block;
	background-color: ;
	width: 100%;
	height: 62px;
	text-align: center;
	margin: 1em auto 0em auto;
	background-color: grey;
	background-image: linear-gradient(to top,
		rgba(150, 200, 0, 0.1),
		white);
	width: 100%;
}
#footerGip-Text{
	font-family: Bangers;
	color: #222;
	text-shadow: 2px 2px #90CC90;
	font-size: 20px;
}
#profielFoto{
	width: 200px;
	height: 200px;
	opacity: 10;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(img/optimized-foto-js.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
	background-size: 122%;
	margin-left: auto;
	margin-right: auto;
}
.middenGip{
	margin: 1em auto;
}
.middenGip-1 > p{
    font-family: Oswald;
    margin: 0;
    padding: 1em 12em;
    text-align: justify;
    -moz-text-align-last: left;

    opacity: 1;
    transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;
}

.middenGip-1-3 > p{
	margin: 1em 0em;
	font-size: 17px;
	font-family: Oswald;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-1-3 > img{
	background-image: url(img/grid.jpg);
	zoom: 2;
    display: block;
    border-radius: 90px;
    opacity: 0.8;

    margin: auto;
    min-width: 40%;
    min-height: 40%;
    height: auto;
    max-height: 40%;
    max-width: 40%;
    width: auto;

    border: 2px solid transparent;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.middenGip-menu{
	margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-menu > p > a{
	font-size: 30px;
	font-family: Bangers;
    color: #222;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid #333;
	letter-spacing: 1px;
}
.middenGip-menu-selected{
	margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-menu-selected > p > a{
	font-size: 30px;
	font-family: Bangers;
    color: rgba(144, 204, 144, 1);
	text-shadow: 1px 1.5px #000;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid #000;
	letter-spacing: 1px;
    pointer-events: none;
    cursor: default;
}
.middenGip-1-4{
	height: 25vh;
	transition: 1.5s;
	overflow-y: hidden;
	overflow-x: hidden;
}
.middenGip-1-4 > p{
    font-family: Oswald;
    margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-1-4 > img{
    display: block;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    height: auto;
    max-height: 75%;
    max-width: 75%;
    width: auto;
    border: 2px solid #C3C3C3;
}
.middenGip-1-4-taak{
	width: 100%;
	overflow: hidden;
}
.middenGip-1-4-taak > h1{
	cursor: pointer;
    font-family: Oswald;
    margin: 1em auto;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-1-4-taak > p{
	height: 0;
    font-family: Oswald;
    margin: 0;
    padding: 0em 4em;
    text-align: justify;
    -moz-text-align-last: center;

    opacity: 0;
}
.middenGip-1-4-taak > img{
    display: block;
    margin: auto;
    min-width: 15%;
    min-height: 15%;
    height: auto;
    max-height: 30%;
    max-width: 30%;
    width: auto;
    border: 2px solid #C3C3C3;
}
.middenGip-1-4-taak > video{
    display: block;
    margin: auto;
    height: 0;
    visibility: hidden;
    opacity: 0;
}
.middenGip-1-4-taak-vergroot{
    overflow: hidden;
}
.middenGip-1-4-taak-vergroot > h1{
	cursor: pointer;
    font-family: Oswald;
    margin: 1em auto;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-1-4-taak-vergroot > p{
    font-family: Oswald;
    margin: 0;
    padding: 1em 12em;
    text-align: justify;
    -moz-text-align-last: center;

    opacity: 1;
    transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;
}
.middenGip-1-4-taak-vergroot > img{
    display: block;
    margin: auto;
    min-width: 25%;
    min-height: 25%;
    height: auto;
    max-height: 50%;
    max-width: 50%;
    width: auto;
    border: 2px solid #C3C3C3;
}
.middenGip-1-4-taak-vergroot > video{
    visibility: visible;
    display: block;
    margin: auto;
    max-height: 60%;
    max-width: 60%;
    min-height: 40%;
    min-width: 40%;
    height: auto;
    width: auto;
    border: rgba(144, 204, 144, 1) solid 0.1em;

    opacity: 1;
    transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;
}

@media screen and (max-width: 960px){
    .middenGip-1-4-taak-vergroot > p{
        padding: 0.5em 3em;
    }
    .middenGip-1 > p{
        padding: 0.5em 3em;
    }
}

#vergrootVerklein2 > p, p > a{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    color: inherit;
    text-decoration: inherit;

    /* Aanpassing credits onderaan video IT-Tapa */
}

#notCentered{
    text-align: left !important;
    -moz-text-align-last: left !important;
    text-align-last: left !important;

    /* Aanpassing FAQ onderaan video IT-Tapa */ 
}

.boldText{
    font-weight: 600;

    /* Deel van de text die meer moet opvallen */
}

#onderGip > table {
    margin: 1em auto;
    font-family: Oswald;
}

#onderGip > h1{
    padding: 0.15em;
    margin: 0.35em;
    text-align: center;
    font-family: Bangers;
    letter-spacing: 2px;
    color: rgba(144, 204, 144, 1);
    text-shadow: 2px 2px #000;
    font-size: 50px;
}

#onderGip > div > div > a > img{
    display: block;
    margin: 0 auto;
    min-width: 30%;
    min-height: 30%;
    height: auto;
    max-height: 35%;
    max-width: 35%;
    width: auto;
}

.onderGip-1 > p{
    font-family: Oswald;
    margin: 0.5em 3em;
}