html, body{
	margin: 0em;
    height: 100%;
}
.snow{
	background-image: url('img/drop.png'), url('img/drop.png'), url('img/drop.png');
	-webkit-animation: snow 15s linear infinite;
	-moz-animation: snow 15s linear infinite;
	-ms-animation: snow 15s linear infinite;
	animation: snow 15s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
header{
	width: 70%;
	min-width: 50%;
	max-width: 70%;
	height: 20em;
	margin-left: auto;
	margin-right: auto;

	background-image: url("img/header-wallpaper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	transition: 1s;
}
header:hover{
	background-image: url("img/header-wallpaper.jpg");
	opacity: 0.9;
	transition: 1s;
}
#headerGip-Text{
	padding: 0.15em;
	text-align: center;
	font-family: Bangers;
	letter-spacing: 2px;
	color: rgba(144, 204, 144, 1);
	text-shadow: 2px 2px #000;
	font-size: 50px;
}
#footerGip{
	display: inline-block;
	background-color: ;
	width: 100%;
	height: 62px;
	text-align: center;
	margin: 1em auto 0em auto;
	background-color: grey;
	background-image: linear-gradient(to top,
		rgba(150, 200, 0, 0.1),
		white);
	width: 100%;
}
#footerGip-Text{
	font-family: Bangers;
	color: #222;
	text-shadow: 2px 2px #90CC90;
	font-size: 20px;
}
#profielFoto{
	width: 200px;
	height: 200px;
	opacity: 10;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(img/optimized-foto-js.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
	background-size: 122%;
	margin-left: auto;
	margin-right: auto;
}
.middenGip{
	margin: 1em auto;
}
.middenGip-1-3 > p{
	margin: 1em 0em;
	font-size: 17px;
	font-family: Oswald;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-1-3 > img{
	background-image: url(img/grid.jpg);
	zoom: 2;
    display: block;
    border-radius: 90px;
    opacity: 0.8;

    margin: auto;
    min-width: 40%;
    min-height: 40%;
    height: auto;
    max-height: 40%;
    max-width: 40%;
    width: auto;

    border: 2px solid transparent;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.middenGip-menu{
	margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-menu > p > a{
	font-size: 30px;
	font-family: Bangers;
    color: #222;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid #333;
	letter-spacing: 1px;
}
.middenGip-menu-selected{
	margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-menu-selected > p > a{
	font-size: 30px;
	font-family: Bangers;
    color: rgba(144, 204, 144, 1);
	text-shadow: 1px 1.5px #000;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid #000;
	letter-spacing: 1px;
    pointer-events: none;
    cursor: default;
}
.middenGip-1-4{
	height: 20vh;
	transition: 2s;
	overflow-y: hidden;
	overflow-x: hidden;
}
.middenGip-1-4 > p{
    font-family: Oswald;
    margin: 1em 0em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.middenGip-1-4 > img{
    display: block;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    height: auto;
    max-height: 75%;
    max-width: 75%;
    width: auto;
    border: 2px solid #C3C3C3;
}